* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    margin-bottom: 5px;
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #f8f8f8;
    font-weight: 400;
    font-family: Poppins;
    
}

.box{
    flex-direction: row;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    margin: 0 auto;
    padding: 75px auto;
     
}
.head{
    margin-bottom: 10px;
}
.sign{
    
    text-align: center;
    height: 450px;
    width: 700px;
    background-color: rgb(245, 234, 234);
    
}
.main{
    display: flex;
}

h2 {
    line-height: 1.66;
    font-family: Poppins;
    color: black;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    

}
input{
    border: none;
    outline: 0;
    border-bottom: 2px solid rgb(235, 197, 197);
    font-size: 15px;
    background-color: rgb(245, 234, 234);
    

}
.img{
    margin-left: 100px;
    box-shadow: pinks;
    
}
.form1{
    margin-left: 20px;
}
.box{
    margin-top: 50px;
    font-size: 14px;
}
i{
    padding: 5px;
}
.enter{
    border-radius: 30%;
    width: 100px;
    height: 40px;
    background-color: rgb(235, 129, 155);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
