
*{
    margin: 0px;
    padding: 0px;
   }
body
{
font-family: arial;

}
.container
{
  background-color: #FFFEB7;
}
.text
{
  font-size:xx-large;
  color: #6B6E70;
  text-align: center;
  font-size:45px;
  font-style:inherit;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: initial;
  
  font-family: 'Architects Daughter', cursive;
}
.text:hover
{
  opacity: 0.3;
}
.header
{
margin: 2%;
}
   
.box
{
width: 20%;
display: inline-block;
box-shadow: 2px 2px 20px black;
border-radius: 5px; 
margin: 2%;
background-color: white;
}
.box:hover
{
  transform: translateY(20px);
}
.box img{
 width: 100%;
 margin-top: 20px;
 margin-bottom: 10px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
   
.title
{
text-align: center;
padding: 5px;
color: red;
}
h1{
font-size: 20px;
}
   
   .des{
     padding: 3px;
     text-align: center;
    
     padding-top: 0px;
           border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   }
   button{
     margin-top: 20px;
     margin-bottom: 10px;
     background-color: white;
     border: 1px solid black;
     border-radius: 5px;
     padding:10px;
     text-decoration: none;
   }
   button:hover{
     background-color: black;
     color: white;
     transition: .5s;
     cursor: pointer;
   }



Icons {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
  }
  Icons i:hover {
    color:red;
  }
  Icons  i {
    color: orange;
    font-size: 40px;
  }
  h4
  {
      text-align: center;
  }
 

@media screen and (max-width:486px)
{
  .box
  {
  width: 100%;
  }
}

  
 
 